.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.venv/
.env/
build/
dist/
*.ckpt
*.pt
*.pth
*.log
runs/

# Experiments and datasets (too large for GitHub)
experiments/*
!experiments/2025-10-24_13-09-40_dogs_vs_cats_simple_cnn_binary/
!experiments/2025-10-26_14-51-41_dogs_vs_cats_cnn_bn/
experiments/2025-10-24_13-09-40_dogs_vs_cats_simple_cnn_binary/checkpoints/*.ckpt
experiments/2025-10-24_13-09-40_dogs_vs_cats_simple_cnn_binary/checkpoints/*.pt
experiments/2025-10-24_13-09-40_dogs_vs_cats_simple_cnn_binary/checkpoints/*.pth
experiments/2025-10-26_14-51-41_dogs_vs_cats_cnn_bn/checkpoints/*.ckpt
experiments/2025-10-26_14-51-41_dogs_vs_cats_cnn_bn/checkpoints/*.pt
experiments/2025-10-26_14-51-41_dogs_vs_cats_cnn_bn/checkpoints/*.pth
datasets/
data/
